@charset "UTF-8";

/** Global **/

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}


/** Menu **/

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1800px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul, nav li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase;
    color: #727272;
}

nav .active a, nav a:hover {
    background-color: #00ABE4;
    color: white;
}


/** Banner **/

#banner {
    display: flex;
    justify-content: center;
    background-image: url(../images/img1.jpg);
    background-position: center;
    background-size: cover;
    height: 850px;
}

.column {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1 {
    color: white;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
}

.banner_headline h2 {
    color: white;
    font-size: 21px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
    margin-top: 30px;
}

.banner_options {
    height: 260px;
    display: flex;
}

.banner1, .banner2, .banner3 {
    padding: 20px;
    flex: 1;
    color: white;
}

.banner1 {
    background-color: #39AAE1;
}

.banner2 {
    background-color: #0079C7;
}

.banner3 {
    background-color: #2B4C99;
}

.banner_title {
    font-size: 34px;
    text-shadow: 0px 1px 0px #555555;
}

.banner_desc {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 20px;
    text-shadow: 0px 1px 0px #555555;
}

.banner_options a {
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #555555;
}

.hours {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.123);
    font-size: 18px;
    text-shadow: 0px 1px 0px #555555;
}


/** Content **/

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.widget_title_bar {
    width: 70px;
    height: 3px;
    background-color: #36A9E1;
    margin-top: 6px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 600px;
    margin-right: 20px;
    margin-bottom: 60px;
}

article .news_data {
    display: flex;
}

article .news_posted_at {
    color: white;
    background-color: #2B4C99;
    font-size: 16px;
    padding: 10px;
}

article .news_comments {
    color: white;
    background-color: #39AAE1;
    font-size: 16px;
    padding: 10px;
    margin-left: 3px;
}

article .news_thumbnail {
    margin-top: 30px;
}

article .news_thumbnail img{
    width: 100%;
    height: auto;
}

article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 26px;
}

article .news_resume {
    line-height: 24px;
    font-size: 18px;
    color: #5C5C5C;
}

article a {
    text-decoration: none;
}


/** Footer **/

footer {
    background-color: #202020;
    display: flex;
    justify-content: center;
}

.footer_options {
    height: 140px;
    display: flex;
}

.footer_area {
    display: flex;
    flex: 1;
}

footer .widget {
    flex: 1;
    color: white;
}

footer .widget_title_text {
    color: white;
    margin-top: 40px;
}

.flexColumn {
    flex-direction: column;
}

.address {
    margin-top: 40px;
    color: #aca8ac;
    display: flex;
}

.address1, .address2 {
    flex: 1;
}

.address2 a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer .news_resume {
    color: #aca8ac;
}

.footer_copy {
    border-top: 1px solid rgba(255, 255, 255, 0.103);
    color: #aca8ac;
    height: 60px;
    line-height:60px;
    margin-top: 40px;
}